Body{
   background-color: darkblue ;
}
    
p{
    color: aliceblue;
}
h1{
    text-align: center;
    color: aliceblue;
    
}
img1{
    align-self: center;
}
h2{
    color: aliceblue;
}